<nav>
  <ul>
    <li><%= link_to 'Events', '/admin' %></li>
    <li><%= link_to 'Regions', regions_path %></li>
    <li><%= link_to 'Topics', topics_path %></li>
    <li><%= link_to 'Categories', categories_path %></li>
  </ul>
</nav>