 <div id="map"></div>
    <script>

      function initMap() {

        // style with https://mapstyle.withgoogle.com
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 38, lng: -95},
          zoom: 4,
          scrollwheel: false,
          disableDoubleClickZoom: true,
          disableDefaultUI: true,
          panControl: false,
          streetViewControl: false,
          styles: [
            {
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "landscape",
              "stylers": [
                {
                  "saturation": -100
                }
              ]
            },
            {
              "featureType": "landscape",
              "elementType": "geometry",
              "stylers": [
                {
                  "saturation": -100
                }
              ]
            },
            {
              "featureType": "water",
              "stylers": [
                {
                  "color": "#111111"
                },
                {
                  "lightness": -100
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "geometry",
              "stylers": [
                {
                  "saturation": 100
                }
              ]
            }
          ]
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
        <%= raw locations_from(@all_events).join %>
      ]
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8c_WNUuU6gusK-TV4asDjmLoZuVhq_ww&callback=initMap">
    </script>