 <div id="map"></div>
    <script>

      function initMap() {

        // style with https://mapstyle.withgoogle.com
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 38, lng: -95},
          zoom: 4,
          scrollwheel: false,
          disableDoubleClickZoom: true,
          disableDefaultUI: true,
          panControl: false,
          streetViewControl: false,
            styles: [
              {
              "elementType": "geometry.stroke",
              "stylers": [
              {
                    "visibility": "off"
                  }
                ]
              },
              {
                "elementType": "labels",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [
                  {
                    "saturation": -65
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                  {
                    "saturation": -35
                  },
                  {
                    "lightness": -5
                  }
                ]
              }
            ]
        });

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(event) {
          marker = new google.maps.Marker({
            position: {lat: event.latitude, lng: event.longitude},
            clickable: true,
            url: '/events/' + event.permalink,
            map: map
          });
          infowindow = new google.maps.InfoWindow({
          });
          content = '<b>' + event.city + ', ' + event.state + '</b><br/>' + event.name
          google.maps.event.addDomListener(marker, 'mouseover', (function(marker,content,infowindow){ 
            return function() {
              infowindow.setContent(content);
              infowindow.open(map,marker);
              google.maps.event.addListener(marker,'mouseout', function(){ 
                infowindow.close();
              }); 
            };
          })(marker,content,infowindow));  
          
          google.maps.event.addDomListener(marker, 'click', (function(marker,content,infowindow){ 
            return function(){
              window.location.href = marker.url;
            }
          })(marker,content,infowindow)); 
          return marker;
        });

      }
      var locations = <%= raw @all_events.to_json(only: [:latitude,:longitude,:name,:permalink,:city,:state]) %>
    
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8c_WNUuU6gusK-TV4asDjmLoZuVhq_ww&callback=initMap">
    </script>