/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
	font-family: 'Modern Sans';
	src: asset-url('ModernSans.woff2') format('woff2'),
		asset-url('ModernSans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

main,footer{
  margin:auto;
  width:980px;
}

footer{
  margin-top:4em;
  margin-bottom:2em;
}
main{
  .sidebar{
    float:right;
  }
}

.mobile_fixed_header {
  display: none;
}
  


table{
  width:900px;
  text-align:left;
  border-collapse: collapse;
  td{
    vertical-align:top;
  }
  td,th{
    padding:5px 10px;
  }
  tbody{
    tr{
      &:nth-child(odd){
        background-color: #eee;
      }
    }
  }
}

// Replacement for Table
div.table_header {
  overflow: auto;
  background-color: #EEE;
  div {
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    &:nth-child(1) {
      width: 160px;
    }
    &:nth-child(2) {
      width: 490px;
    }
    &:nth-child(3) {
      width: 180px;
    }
    &:nth-child(4) {
      width: 150px;
    }
  }
}

ul.event {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-right: 1px solid #EEE;
  border-left: 1px solid #EEE;
  li {
    overflow: auto;
    box-sizing: border-box;
    border-bottom: 1px solid #EEE;
    div {
      float: left;
      box-sizing: border-box;
      padding: 10px;
      &.date {
        width: 159px;
      }
      &.name {
        width: 490px;
      }
      &.category {
        width: 180px;
      }
      &.topic {
        width: 149px;
      }
    }
  }
}


#map{
  width:980px;
  height:350px;
}

h1{
  a{
    color:#000;
    text-decoration:none;
    font-family: 'Modern Sans';
    &:visited{
      color:#000;
    };
  }

}
h2{
  margin-top:2em;
}

nav{
  &.regions{
   margin-top:-45px; 
  }
  ul{
    clear:both;
    position:relative;
    list-style-type: none;
    overflow: hidden;
    background-color: #111;
    margin:0;
    li{
      &.add_event_mobile_only {
        display: none;
      }
      float:left;
      a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        &:hover:not(.active){
          background-color: green;
        }
        &:visited{
          color:white;
        }
      }
    }
  }
}

a,a:visited{
  color:rgb(0, 0, 238);
}

.add_event{
  display:block;
  height:45px;
  line-height:20px;
  float:right;
  font-weight:bold;
  font-size:16px;
}

.field {
  input[type="text"]{
    width:500px;
  }
  textarea{
    width:500px;
    height:200px;
  }
}


// Responsive overwrites for widths less than 600px
@media only screen and (max-width: 600px) {

  main, footer {
    margin: auto;
    width: 100%;
  }
  
  footer {
    box-sizing: border-box;
    padding: 10px;
    font-size: 0.8em;
  }
  
  main {
	  > a:last-child { // targets back link on Add Event form page
		  margin-left: 10px;
	  }
    padding-top: 50px;
    div.add_event {
      display:none;
    }
    #map {
      display: none;
    }
    > h1 {
      display:none;
    }
  }
  
  .mobile_fixed_header {
    display: block;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #FFF;
    h1 {
     font-size: 1.2em;
     margin-left: 10px;
	    margin-top:1.1em;
	    a {
		font-size: 1.4em;
	    }
    }
    .mobile_menu_toggle {
      position: absolute;
      top: 4px;
      right: 10px;
    }
    box-shadow: 0 10px 12px -12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 10px 12px -12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 12px -12px rgba(0, 0, 0, 0.5);
  }
  
  nav.regions {
    margin-top: 0px;
    position: fixed;
    top: 0;
    top: 50px;
    width: 100%;
    display: none; // Hide regions nav to start, toggled by burger
  }

  nav ul {
    list-style-type: none;
    padding-left: 0;
  }

  nav ul li {
    float: none;
    border-bottom: 1px solid #ccc;
  }
  
  nav ul li.add_event_mobile_only {
    display: block;
    background-color: green;
  }
  
  nav ul li a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
    
  h2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  div.table_header { 
    display: none;
  }
    
  .region ul.event li div {
    float: none;
    width: 100%;
  }

.region ul.event li .date {
    font-weight: bold;
  }

	
  // Add Event page
  form {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 20px;
  }
  
  .field {
    input[type="text"]{
      width:100%;
      box-sizing: border-box;
    }
    textarea {
      width:100%;
      height:200px;
      box-sizing: border-box;
    }
  }
  body.show_event {
	  #sidebar {
		  img.small-map {
			  width: 100%;
		  }
	  }
	  main > div > p {
		  padding-left: 10px;
		  padding-right: 10px;
	  }
	  main > div > * {
		  word-wrap:break-word;
	  }
	  main > a {
		margin-left: 10px;
	  }
  }
}
